@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;


  --font-manrope: "Manrope";
  --font-geist-sans: "Geist Sans";
  --font-geist-mono: "Geist Mono";
}


@theme inline {


  
  --font-sans: var(--font-manrope, Arial, Helvetica, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans);

}
